html {
    width: 100%;
    height: 100%;
}

/* NavBar */
.navbar {
	background: transparent;
	border: 0;
}

/* Home Page */
.reliefMap {
    background: #b9c5c8;
    height: 100vh;
    display: block;
}

.infographics .info1 {
    background: #f4cad3;
    height: 50vh;
}

.infographics .info2 {
    background: #fff48b;
    height: 50vh;
}