html {
    width: 100%;
    height: 100%;
}

/* NavBar */
.navbar {
	background: transparent;
	border: 0;
}

/* Home Page */
.reliefMap {
    background: cyan;
    height: 100vh;
    display: block;
}